<section class="cadastro">
  <div class="content">
    <form class="form">
      <input type="text" id="login" title="login" placeholder="login" />
      <span id="login-error">error</span>

      <input type="text" id="email" title="email" placeholder="email" />
      <span id="email-error">error</span>

      <input type="password" id="password" title="senha" placeholder="senha" />
      <span id="password-error">error</span>

      <input type="password" id="confirmPassword" title="confirme a senha" placeholder="confirme a senha" />
      <span id="confirmPassword-error">error</span> 

      <button type="submit" class="btn" id="cadastro-submit">cadastrar</button>
    </form>
  </div>
</section>