<section class="dashboard">
  <div class="content">
    <h1>Olá, Player!</h1>
    <h3>
      Filtre os jogos FREE TO PLAY por categoria 
      (API <a target="_blank" href="https://www.freetogame.com/games">FREE TO GAME</a>)
    </h3>
    <p><b>*As imagens podem demorar para serem carregadas no primeiro acesso*</b></p>

    <form action="" class="form dashboard-search">
      <input type="text" name="search" id="search" placeholder="Shooter, MMORPG, card, etc.">
      <span id="search-error">error</span>      
    
      <button type="submit" class="btn" id="search-submit">Pesquisar</button>
    </form>

    <div class="games" id="games">
    </div>
</section>